*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100%;
  width: 100%;
}

.container {
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 8px 2px rgb(197, 197, 197);
  width: 450px;
  height: 530px;

  position: absolute;
  top: calc(50% - 265px);
  left: 0;
  right: 0;
  margin: 0 auto;
}

/* @media (max-width: 430px){
  .container{
  padding: 10px;
  border-radius: 0px;
  box-shadow: none;
  width: 100%;
  /* height: 100% */
  /* } */
/* } */ 

.input-form-direction {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column
}

@media (max-width: 430px){
  .input-form-direction {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column
  }
}

.phone-form-active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phone-form {
  display: none;

}

