*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100%;
  width: 100%;
}

.container {
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 8px 2px rgb(197, 197, 197);
  width: 450px;
  min-height: 530px;

  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translate(0, -50%);
}

.input-form-direction {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column
}


.phone-form-active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.phone-form {
  display: none;

}

